body{
    background-color: #f4f5f8;
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#viewpoint{
    /* position: relative; */
    height: 100px;
    width: 100px;
    perspective: 500px;
    perspective-origin: 50% 50%; 
    /* border: 2px solid blue; */
    transform-style: preserve-3d; 
}


#viewpoint:not(:hover) {
    animation: resetPosition 1s linear forwards;
    /* transition: transform 2s;
    transform: rotateX(0deg) rotateY(0deg); */
}


@keyframes resetPosition{
    to { perspective-origin: 50% 50%; }
}

.cube{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;

    transform: translate3d(0px, 0px, -200px);

    display: flex;
    align-items: center;
    justify-content: center;

    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    from{transform: rotate3d(1,0,1,0deg);}
    to{transform: rotate3d(1,1,0,360deg);}
    
}

.panel{
    background: #eceff3a6;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    backface-visibility: hidden;
    /* transform-style: preserve-3d;     */
    /* transform-style: preserve-3d;
    transform: rotateX(1deg) translate3d(0px, 0px, 100px); */
    /* animation: mymove 1s linear forwards; */
}

.one {
    transform: translate3d(0px, 0px, 100px);
}

.two {
  transform: rotateY(90deg) translate3d(0px, 0px, 100px);
}

.three {
  transform: rotateY(180deg) translate3d(0px, 0px, 100px);
}

.four {
    transform: rotateY(270deg) translate3d(0px, 0px, 100px);
}

.five {
    transform: rotateX(90deg) translate3d(0px, 0px, 100px);
}

.six {
    transform: rotateX(-90deg) translate3d(0px, 0px, 100px);
}


