.flex-container{
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.flex-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex:1;
}

.flex-item{
    flex: 1;
}

.pen-enabled{
    cursor: url(images/pen.png), auto;
}
.eraser-enabled{
    cursor: url(images/white_square_black_border.png), auto;
}